.todoContainer{
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.todoCreateForm{
    display: flex;
    gap: 10px;
}

.todoInput{
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #999;
}

.buttonCreate{
border:none;
border-radius: 3px;
background-color: rgb(26, 76, 169);
color: whitesmoke;
padding: 10px 20px;
}

.todosContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.todo{
    padding: 10px;
    background-color: whitesmoke;
}

.todoTitle{
    flex: 1;
    font-size: 20px;
}

.todoUpdateForm, .todoInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.button{
    border: none;
    border-radius: 3px;
    background-color: rgb(72,122,221);
    color: whitesmoke;
    padding: 10px 20px;

}

.buttonDelete{
    border: none;
    border-radius: 3px;
    background-color: rgb(169,26, 26);
    color: whitesmoke;
    padding: 10px 20px;
}